*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.calculator{
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 320px;
}

#display{
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
 
 .btn {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #333;
    color: #fff;
    transition: background 0.2s;
}

.btn:hover {
    background: #444;
    color: #fff;
}

.zero {
    grid-column: span 4;
}

    

